body {
    background-color: #d3d3d3;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.logotext {
    font-size: 50px;
    color: #6c757d;
    font-family: monospace;
}

.navbar {
    height: fit-content;
    text-decoration: none;
}

a, link, i {
    color: #4A4A4F;!important
}

.nav-link {
    position: relative;
    top: 20px;
    color: #4A4A4F;!important
}

.home-link {
    color: #d3d3d3;
}

.hero-image {
    background-image: url(../media/hero_code2.webp);
    background-position: center;
    background-size: cover;
    min-width: 100vw;
    height: 33%;
}

.link {
    text-decoration: none;
    text-decoration-color: #6c757d;
}

#navbar-text-left {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    right: 170px;
    top: 40px;
    font-family: monospace;
    font-size: 35px;
    font-variant-caps: all-small-caps;
    font-weight: 900;
    color: #6c757d;
}

.hero-flash-container {
    width: 230px;!important
    height: 180px;
    position: relative;
    text-wrap: wrap;
    left: 1150px;
    top: 20px;
    background-color: #ff9600;
    border-radius: 15px;
}

.hero-flash {
    font-family: monospace;
    font-size: 46px;
    font-variant-caps: all-small-caps;
    font-weight: 900;
    line-height: normal;
    padding: 10px;
}

.profile-panel {
    position: relative;
    top: 0px;
}

.flex-row {
    display: flex;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

footer {
    color: #6c757d;
}

@media (min-width: 1400px)
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1670px;
}